<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" data-ng-app="ZoomCar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="App/jquery-1.9.1.min.js"></script>
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <link href="font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="App/Maps.js"></script>
    
    <script src="App/angular.min.js"></script>
    <script src="App/angular-animate.js"></script>
    <script src="App/loading-bar.js"></script>
    <link href="bootstrap-3.3.5-dist/css/loading-bar.css" rel="stylesheet" />
    <script src="App/Angular-google-maps.js"></script>
    <script src="App/Angular-reverse-geocoding.js"></script>
    <script src="App/slim.js"></script>
    <script src="App/app.js"></script>
<script>
    $(document).ready(function () {
        $('#scrollbox3').slimScroll({
            height: '375px'
        });
        $(window).on('hashchange', function (e) {
            history.replaceState("", document.title, e.originalEvent.oldURL)
        });
    });
</script>   
    <title>Zoom Trackr</title>
</head>

<body data-ng-controller="productController as product" style="font-family: 'Lato', sans-serif;">
    <header id="PageHeader">
        <div class="row">
            <div class="col-lg-2"><h2 style="color:black">&nbsp; Zoom Trackr</h2></div><div class="correction col-lg-2"><span style="color:rgb(129, 207, 224)">--Live tracking made easy!</span></div><div class="col-lg-3"></div><div class="correction1 col-lg-3"><div class="panel panel-primary">
    <div class="panel-body">
        <center>
            API Hits:&nbsp; {{api_hits}}  &nbsp;&nbsp;  |  &nbsp;&nbsp;  Total Parcel:&nbsp; {{length}}
        </center>
            </div>
</div></div>
        </div>
            </header>
    <div class="PageBody">
        <div class="row" style="margin:0">
            
            <div class="col-lg-4" style="top:10px; margin-left:-200px;border-radius:10px; border:2px solid rgb(129, 207, 224)">
                <div id="searchColumn">
                    <br />
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input class="form-control" type="text" data-ng-model="filterText" placeholder="Search by name,weight or type">
                    </div>
                 </div>
                     <br />
                <div id="scrollbox3" style="height:600px;">
                    <br />
                    <div class="panel panel-primary hov"  data-ng-init="order='down'" data-ng-repeat="prod in products.parcels | filter:filterText | orderBy:order">
                        <div class="panel-body" data-ng-click="product.setCurrent($index);">
                            <div class="row" >
                                <div class="col-md-1"><i class="fa fa-asterisk"></i></div>
                                <div class="col-md-6"><span>{{prod.name}}</span></div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3">{{prod.price| nospace |currency:"&#8377;"}}</div>
                                <div class="col-md-1"><i class="fa fa-angle-down"></i></div>
                            </div>
                        </div>
                    </div>
                </div>  

                
                   <div>
                       <br />
                       <center>
                           <div class="btn-group open">
                               <a class="btn btn-primary" href="#"><i class="fa fa-sort"></i>&nbsp; Sort By</a>
                               <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                   <span class="fa fa-caret-down"></span>
                               </a>
                               <ul class="dropdown-menu active">
                                   <li><a href="#" data-ng-click="order='name'"><i class="fa fa-sort-alpha-asc"></i>&nbsp; Low to High</a></li>
                                   <li><a href="#" data-ng-click="order='-name'"><i class="fa fa-sort-alpha-desc"></i>&nbsp; High to Low</a></li>
                               </ul>
                           </div>
                           <div class="btn-group open">
                               <a class="btn btn-primary" href="#"><i class="fa fa-usd"></i>&nbsp; Price</a>
                               <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                   <span class="fa fa-caret-down"></span>
                               </a>
                               <ul class="dropdown-menu active">
                                   <li><a href="#" data-ng-click="order='products.parcels.price'"><i class="fa fa-sort-amount-asc"></i>&nbsp; Low to High</a></li>
                                   <li><a href="#" data-ng-click="order='-price'"><i class="fa fa-sort-amount-desc"></i>&nbsp; High to Low</a></li>
                               </ul>
                           </div>
                           <div class="btn-group open">
                               <a class="btn btn-primary" href="#"><i class="fa fa-database"></i>&nbsp;  Weight</a>
                               <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                   <span class="fa fa-caret-down"></span>
                               </a>
                               <ul class="dropdown-menu">
                                   <li><a href="#" data-ng-click="order='weight'"><i class="fa fa-sort-numeric-asc"></i>&nbsp; Low to High</a></li>
                                   <li><a href="#" data-ng-click="order='-weight'"><i class="fa fa-sort-numeric-desc"></i>&nbsp; High to Low</a></li>
                               </ul>
                           </div>
                       </center>
                       <br />
                   </div>
                
            </div>
            <div class="col-lg-1"></div>
            
            <div id="SingleDetails" class="col-lg-6" style="top:10px; border-radius:10px;border:2px solid rgb(129, 207, 224)">
                <br />
                <center>
                    <h1 style="color:rgb(38, 166, 91);">Parcel product details</h1>
                </center>
                    <br />
                <div class="row">
                    <div class="col-md-5"><img class="thumbnail" style="height:200px;width:300px" src="{{sepProduct.image}}" /></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{sepProduct.name}}</h3>
                            </div><div class="panel-body">
                                      <div class="row">
                                          <div class="col-md-6"><i class="fa fa-opencart fa-lg"></i>&nbsp;  {{sepProduct.type}}</div>
                                          <div class="col-md-6"><i class="fa fa-money fa-lg"></i>&nbsp; {{sepProduct.price | currency:"&#8377;"}}</div>
                                      </div>
                            <br />
                                      <div class="row">
                                          <div class="col-md-6"><i class="fa fa-database fa-lg"></i>&nbsp; {{sepProduct.weight}}</div>
                                          <div class="col-md-6"><span style="font-size:1.3em">Q</span>&nbsp; {{sepProduct.quantity}}</div>
                                      </div>
                                      <br />
                                      <div class="row">
                                          <div class="col-md-6"><i class="fa fa-mobile fa-lg"></i>&nbsp; {{sepProduct.phone}}</div>
                                          <div class="col-md-6"><div class="row"><span class="col-md-1 thumbnail" style="margin-left:14px;height:20px;width:20px;background-color:{{sepProduct.color}}"></span>&nbsp;     Color</div></div>
                                      </div>
                             </div>
                        </div>
                    </div>

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div style=" margin-left:10px;margin-right:10px" class="panel panel-primary">
                        <div class="panel-body" style="color:rgb(38, 166, 91);" >
                            <center >
                               {{address}}
                            </center>
                              </div>
                    </div>
                    <div id="DIV2">
                    </div>
                    <div id="maps" >
                        <ng-map zoom="15" center="{{sepProduct.live_location.latitude}}, {{sepProduct.live_location.longitude}}">
                            <marker position="{{sepProduct.live_location.latitude}},{{sepProduct.live_location.longitude}}"
                                    icon="location1.png">
                            </marker>
                        </ng-map>
                     </div>
                    <br />
                    <div style="margin-left:10px;margin-right:10px" class="panel panel-primary">
                        <div style="height:70px" class="panel-body">
                          <div class="row">
                              <center>
                                  <div class="col-md-4">
                                      <a class="btn btn-success" ng-click="product.like1(num)" style="width:150px;font-size:1em" >
                                          <i class="fa fa-thumbs-o-up fa-2x pull-left"></i>&nbsp; <span style="text-align:center;font-size:1.5em">{{likes[num]}}</span>
                                      </a>
                                  </div>
                                  <div class="col-md-4">
                                      <center>
                                          <div style="padding-top:8px">
                                              <ol class="list-inline">
                                                  <li class="list-inline">
                                                      <a href="https://twitter.com/share?url={{sepProduct.link}}&amp;text={{sepProduct.name}}" target="_blank">
                                                          <span class="fa-stack fa-lg">
                                                              <i class="fa fa-square-o fa-stack-2x"></i>
                                                              <i class="fa fa-twitter fa-stack-1x"></i>
                                                          </span>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline">
                                                      <a href="http://www.facebook.com/sharer.php?u={{sepProduct.link}}&description={{sepProduct.name}}" target="_blank">
                                                          <span class="fa-stack fa-lg">
                                                              <i class="fa fa-square-o fa-stack-2x"></i>
                                                              <i class="fa fa-facebook fa-stack-1x"></i>
                                                          </span>
                                                      </a>
                                                  </li>
                                                  <li class="list-inline">
                                                     <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{sepProduct.link}}&title={{sepProduct.name}}" target="_blank">
                                                      <span class="fa-stack fa-lg">
                                                          <i class="fa fa-square-o fa-stack-2x"></i>
                                                          <i class="fa fa-linkedin fa-stack-1x"></i>
                                                      </span></a>
                                                  </li>
                                              </ol>
                                          </div>
                                      </center>

                                  </div>
                              </center>
                          </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
        </div>
</body>
</html>
